h2 {
    text-decoration: underline;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
}

#Next {
    position: absolute;
    height: 30px;
    width: 80px;
    right: 1em;
    bottom: 0.5em;
    border-radius: 0;
    border: none;
    background-color:rgb(189, 235, 193);
    transition: 1s;

    &:hover {
        background-color:rgb(132, 201, 137);
    }
}

#Back {
    position: absolute;
    height: 30px;
    width: 80px;
    left: 1em;
    bottom: 0.5em;
    border-radius: 0;
    border: none;
    background-color:rgb(235, 189, 189);
    transition: 1s;

    &:hover {
        background-color:rgb(201, 132, 132);
    }
}

#NotConnectedButton {
    height: 50px;
    width: 200px;
    margin-top: 3em;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: rgb(230, 196, 124);
    border: none;
    transition: 2s;
    &:hover {
        background-color: rgb(221, 173, 69);
        width: 250px;
        height: 60px;
    }
}