body {
    background: #f3ffc9;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.service-icon {
    width: 32px;
    height: 32px;
}

.dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    .newarea {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        font-size: 3em;
        color: rgb(4, 202, 4);
        transition: .6s;
        &:hover {
            color: green;
            transition: .6s;
        }
    }
    #services-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
        width: 100%;
        .itemlist {
            width: 100%;
            display: flex;
            justify-content: center;
            .item {
                width: 70%;
                border-radius: 10px;
                box-shadow: 15px 8px 10px #234417 ;
                margin-block: 1em;
                background-color: #d7e9d2;
                display: flex;
                align-items: center;
                flex-direction: row;
                .action {
                    min-width: 35%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .icone {
                        width: 50px;
                        margin-left: 1em;
                    }
                    ul {
                        list-style-type: none;
                        font-size: 1em;
                    }
                    .fas {
                        font-size: 45px !important;
                    }
                }
                .fas {
                    color: rgb(49, 196, 49);
                    font-size: 3em;
                    text-shadow: black 1px 1px 1px;
                    margin-inline: 5%;
                }
                .reaction {
                    min-width: 35%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .icone {
                        width: 50px;
                        margin-left: 1em;
                    }
                    ul {
                        list-style-type: none;
                    }
                }
                .interaction {
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    button {
                        background-color: transparent;
                        border: none;
                        .edit {
                            &:hover {
                                color: green;
                                transition: .6s;
                            }
                        }
                        .delete {
                            &:hover {
                                color: red;
                                transition: .6s;
                            }
                        }
                    }
                }
            }
        }
    }
}
.button1 {
    height: 5vh;
    margin: 4vh;
}

.line1 {
    background-color: rgba(221, 221, 221, 0.426);
    margin-top: 5vh;
    height: 15vh;
    width: 95vw;
    margin-inline: auto;
    border-radius: 10px;;
}

#services-list > table {
    thead {
        tr { th {
            font-size: 20px;
            padding-top: 30px;
            padding-bottom: 30px;
        }}
    }
    tbody {
        tr:nth-child(odd) {
            background-color: rgb(218, 218, 218);
        }
        tr {
            width: 100%;
            td:nth-child(1), td:nth-child(3), td:nth-child(4), td:nth-child(6) {
                text-align: center;
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                }
            }
            td:nth-child(1), td:nth-child(4) {
                font-weight: 900;
            }
            td {
                width: 16%;
                button {
                    border-radius: 15px;
                    border: 0px;
                    padding: 12px;
                    margin-left: 15px;
                }
                button:hover {
                    cursor: pointer;
                }
                button:nth-child(1) {
                    background-color: rgb(151, 255, 220);
                }
                button:nth-child(1):hover {
                    background-color: rgb(202, 255, 237);
                }
                button:nth-child(2) {
                    background-color: rgb(255, 94, 94);
                }
                button:nth-child(2):hover {
                    background-color: rgb(255, 162, 162);
                }
                p {
                    max-width: 60%;
                }
            }
        }
    }
}